<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bzsdk.bzloginmodule">

    <application>
        <activity
            android:name="com.bzsdk.bzloginmodule.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.bzsdk.bzloginmodule.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />

    </application>

</manifest>